<div
  class="hs-tab-active:bg-gray-100 relative cursor-pointer bg-white hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100"
  [class.bg-gray-100]="isActive"
  [id]="chatSession?.id"
  [attr.aria-selected]="isActive"
  role="tab"
  (click)="onClick()"
>
  <div class="py-4 px-5 flex items-center gap-x-3 border-b border-b-gray-100">
    <div class="shrink-0">
      <div class="relative size-8">
        <div
          class="shrink-0 size-8 rounded-full bg-gray-300 flex items-center justify-center text-gray-600 font-medium text-sm"
        >
          {{ displayName.charAt(0).toUpperCase() }}
        </div>
      </div>
    </div>
    <div class="grow truncate">
      <div class="flex justify-between items-center gap-x-1">
        <p class="truncate font-medium text-[13px] text-gray-800">
          {{ displayName }}
        </p>
        <div>
          <span class="text-[10px] text-gray-400 uppercase">
            {{ lastMessageTime }}
          </span>
        </div>
      </div>
      <div class="truncate me-5">
        <p class="truncate text-gray-500 text-xs">
          {{ lastMessageText }}
        </p>
      </div>
    </div>
  </div>
</div>
