<div class="sm:w-72 size-full truncate bg-white border-x border-gray-200">
  <div class="h-full flex flex-col">
    <div
      class="py-3 px-5 flex justify-between items-center gap-x-2 border-b border-gray-200"
    >
      <span
        id="hs-pro-chat-sidebar-label"
        class="block truncate font-semibold text-gray-800"
      >
        Inbox
      </span>
    </div>

    <div class="border-b border-gray-200">
      <div class="relative">
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-5"
          >
            <svg
              class="shrink-0 size-4 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="11" cy="11" r="8" />
              <path d="m21 21-4.3-4.3" />
            </svg>
          </div>
          <input
            type="text"
            class="py-3 px-12 block w-full bg-white border-0 rounded-0 md:text-[13px] placeholder:text-gray-500 focus:outline-hidden focus:ring-0 disabled:opacity-50 disabled:pointer-events-none"
            placeholder="Search"
          />
          <div class="hidden absolute inset-y-0 end-0 items-center z-20 pe-4">
            <button
              type="button"
              class="inline-flex shrink-0 justify-center items-center size-6 rounded-full text-gray-500 hover:text-blue-600 focus:outline-hidden focus:text-blue-600"
              aria-label="Close"
            >
              <span class="sr-only">Close</span>
              <svg
                class="shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="10" />
                <path d="m15 9-6 6" />
                <path d="m9 9 6 6" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300"
    >
      <div
        id="hs-pro-tabs-chsn-all"
        class="h-full"
        role="tabpanel"
        aria-labelledby="hs-pro-tabs-chsn-item-all"
      >
        <div aria-label="Tabs" role="tablist" aria-orientation="vertical">
          <ng-container *ngFor="let chatSession of chatSessions">
            <app-chat-session-card
              [chatSession]="chatSession"
              [isActive]="chatSession.isActive || false"
              (sessionClick)="onSessionClick($event)"
            ></app-chat-session-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
