<!-- Aside Sidebar -->
<div class="w-full h-full">
  <div class="h-full flex flex-col">
    <!-- Header -->
    <div class="pt-6 pb-2 px-5 flex justify-between items-center gap-x-2">
      <span class="block truncate font-semibold text-gray-800 text-lg">
        Friends
      </span>
    </div>

    <!-- Friends List with Custom Scrollbar -->
    <div
      class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300"
    >
      <div class="p-4 space-y-3">
        <app-friend-item
          *ngFor="let friend of friendsData; trackBy: trackByFriendId"
          [friend]="friend"
        ></app-friend-item>
      </div>
    </div>
  </div>
</div>
