<div
  class="h-full overflow-y-auto overflow-x-hidden [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300"
>
  <div class="py-5 px-2 sm:px-5 space-y-5">
    <div class="relative">
      <div class="sticky top-0 inset-x-0 z-8 max-w-lg mx-auto text-center">
        <span
          class="py-0.5 px-1.5 bg-gray-100 text-xs text-gray-500 rounded-full"
        >
          {{
            currentSessionId
              ? "Chat Messages"
              : "Select a chat to start messaging"
          }}
        </span>
      </div>

      <div
        class="w-full space-y-5 flex flex-col-reverse"
        *ngIf="messages.length > 0"
      >
        <app-chat-bubble *ngFor="let message of messages" [message]="message">
        </app-chat-bubble>
      </div>

      <div
        class="w-full text-center text-gray-500 py-8"
        *ngIf="messages.length === 0 && currentSessionId"
      >
        No messages yet. Start the conversation!
      </div>
    </div>
  </div>
</div>
